.column {
    flex: 33.3%;
    max-width: 33.3%;
}

.column img {
    vertical-align: middle
}

@media (max-width: 768px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}